.card {
    background-color: rgb(3, 141, 87);
    /* max-height: 400px;
    overflow-y: auto; */
}

input {
    width: 280px;
}

#notesList {
    border-radius: 10px;
    margin-bottom: 100px;
    margin-top: 70px;
}

.strike {
    text-decoration: line-through;
}

.none {
    text-decoration: none;
}