button {
    background-color: rgb(3, 171, 109);
    border: 1px solid rgb(3, 171, 109);
}

form {
    border: 3px solid rgb(0, 40, 54);
    border-radius: 10px;
    height: 280px;
}

input {
    width: 300px;
}
