<div class="grid grid-cols-1 my-7" id="form">
    <div class="flex justify-center">
      <form class="p-10" (ngSubmit)="createNote()">
        <label for="tittle" class="block text-md font-medium text-slate-300">Título:</label>
        <input type="text" name="tittle" id="tittle" autocomplete="given-name" class="mt-1 mb-6 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 l:text-l p-1" [(ngModel)]="tittle">
        
        <label for="description" class="block text-md font-medium text-slate-300">Descripción:</label>
        <input type="text" name="tittle" id="tittle" autocomplete="given-name" class="mt-1 block w-full rounded-md focus:ring-1 l:text-l  p-1" [(ngModel)]="description">

        <button type="submit" class="ml-16 mt-7 rounded-md border bg-note border-gray-300 py-2 px-10 text-sm font-medium leading-4 text-gray-700 shadow-sm focus:outline-none focus:ring-2 text-slate-300">Agregar nota</button>
      </form>
    </div>
</div>